In [1]:
import talib

In [4]:
import yfinance as yf
df = yf.download("2330.TW")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [5]:
df

Price            Close        High         Low        Open        Volume
Ticker         2330.TW     2330.TW     2330.TW     2330.TW       2330.TW
Date
2000-01-04   34.216961   34.216961   33.640275   34.216961  200662336736
2000-01-05   34.985802   34.985802   33.832430   34.216949  402466805912
2000-01-06   34.216961   34.985814   34.216961   34.793647  197545715802
2000-01-07   33.255749   33.640267   32.679063   33.063581  235270344752
2000-01-10   34.409119   34.601286   33.640266   34.216951  276171685539
...                ...         ...         ...         ...           ...
2025-04-18  850.000000  858.000000  850.000000  853.000000      20101219
2025-04-21  835.000000  847.000000  832.000000  844.000000      18415705
2025-04-22  816.000000  829.000000  816.000000  826.000000      28888527
2025-04-23  873.000000  873.000000  848.000000  853.000000      37863656
2025-04-24  864.000000  886.000000  859.000000  886.000000      33324793

[6298 rows x 5 columns]

In [9]:
import numpy as np
close=df['Close']['2330.TW'].to_numpy()

RSI = talib.RSI(close, timeperiod=14)

In [10]:
no = len(df)

In [11]:
buy_list= []
sell_list = []
for i in range (0,no):
    buy=0
    sell=0
    if RSI[i]>70:
        sell=1
    if RSI[i]<30:
        buy=1
    buy_list.append(buy)
    sell_list.append(sell)

In [13]:
import pandas as pd
RSI_df = pd.DataFrame(RSI, columns=["RSI"], index=df.index)

In [19]:
buy_df = pd.DataFrame(buy_list ,columns=["Buy_Signal_RSI"],index=df.index )

In [17]:
sell_df = pd.DataFrame(sell_list ,columns=["Sell_Signal_RSI"],index=df.index )

In [21]:
df_merged = pd.concat([df,RSI_df , buy_df, sell_df], axis=1 , join="inner")

In [22]:
df_merged

,"(Close, 2330.TW)","(High, 2330.TW)","(Low, 2330.TW)","(Open, 2330.TW)","(Volume, 2330.TW)",RSI,Buy_Signal_RSI,Sell_Signal_RSI
Date,,,,,,,,
2000-01-04,34.216961,34.216961,33.640275,34.216961,200662336736,NaN,0,0
2000-01-05,34.985802,34.985802,33.832430,34.216949,402466805912,NaN,0,0
2000-01-06,34.216961,34.985814,34.216961,34.793647,197545715802,NaN,0,0
2000-01-07,33.255749,33.640267,32.679063,33.063581,235270344752,NaN,0,0
2000-01-10,34.409119,34.601286,33.640266,34.216951,276171685539,NaN,0,0
...,...,...,...,...,...,...,...,...
2025-04-18,850.000000,858.000000,850.000000,853.000000,20101219,38.852195,0,0
2025-04-21,835.000000,847.000000,832.000000,844.000000,18415705,36.980182,0,0
2025-04-22,816.000000,829.000000,816.000000,826.000000,28888527,34.699505,0,0
2025-04-23,873.000000,873.000000,848.000000,853.000000,37863656,45.548937,0,0
2025-04-24,864.000000,886.000000,859.000000,886.000000,33324793,44.297463,0,0

In [26]:
df_merged[(df_merged.index  >= "2024-01-01" )& (df_merged.index <="2024-12-31")]

,"(Close, 2330.TW)","(High, 2330.TW)","(Low, 2330.TW)","(Open, 2330.TW)","(Volume, 2330.TW)",RSI,Buy_Signal_RSI,Sell_Signal_RSI
Date,,,,,,,,
2024-01-02,585.360901,585.360901,581.412429,582.399547,26059058,67.331713,0,0
2024-01-03,570.554138,577.463963,568.579902,576.476846,37106763,49.044584,0,0
2024-01-04,572.528381,573.515499,569.567028,572.528381,15309129,50.957194,0,0
2024-01-05,568.579895,572.528367,566.605659,570.554131,18158971,47.145719,0,0
2024-01-08,575.489807,577.464043,571.541335,574.502689,17761275,53.675845,0,0
...,...,...,...,...,...,...,...,...
2024-12-25,1085.000000,1090.000000,1080.000000,1090.000000,15481622,56.818608,0,0
2024-12-26,1085.000000,1090.000000,1085.000000,1085.000000,14374900,56.818608,0,0
2024-12-27,1090.000000,1095.000000,1080.000000,1080.000000,24948385,57.968850,0,0
2024-12-30,1090.000000,1095.000000,1085.000000,1090.000000,23954634,57.968850,0,0
2024-12-31,1075.000000,1085.000000,1075.000000,1080.000000,28397820,53.052020,0,0

In [27]:
df_merged[df_merged["Buy_Signal_RSI"]==1]

,"(Close, 2330.TW)","(High, 2330.TW)","(Low, 2330.TW)","(Open, 2330.TW)","(Volume, 2330.TW)",RSI,Buy_Signal_RSI,Sell_Signal_RSI
Date,,,,,,,,
2000-07-21,31.986954,33.340401,31.495006,33.217293,162136495092,29.870560,1,0
2000-07-24,31.125925,31.740977,31.002819,31.617873,110822798308,27.116676,1,0
2000-07-25,30.879715,31.495001,30.510637,30.510637,93606483860,26.368070,1,0
2000-08-03,30.018692,30.756848,29.772482,30.756848,50216489866,27.256049,1,0
2000-09-14,29.526506,30.264664,29.403402,29.895584,58547691419,29.705793,1,0
...,...,...,...,...,...,...,...,...
2022-10-13,379.684052,387.373855,379.684052,384.970791,38046284,28.399107,1,0
2022-10-25,356.614624,367.668716,356.614624,365.265653,76416687,29.161489,1,0
2025-04-07,848.000000,848.000000,848.000000,848.000000,23820773,27.452748,1,0
2025-04-08,816.000000,843.000000,797.000000,797.000000,116648736,24.691485,1,0
2025-04-09,785.000000,826.000000,780.000000,809.000000,107582838,22.346560,1,0